<!DOCTYPE html>
<html lang="en" ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <title>Mystore</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Web Designer and Front-end Developer">
    <meta name="keywords" content="HTML,CSS,JavaScript,website development ,web design software, web design services, website developer, website design software, Amsterdam, Netherlands">
   <link id="callCss" rel="stylesheet" href="css/bootstrap.min.css" media="screen"/>
    <link href="css/bootstrap-responsive.min.css" rel="stylesheet"/>
    <link href="css/bootstrap-responsive.min.css" rel="stylesheet"/>
    <link href="css/custom.css" rel="stylesheet"/>
  </head>


<body>



  <div ng-controller="mainController as myApp">
<div id="header">
  
<div class="container-fluid">

<!-- Navbar ================================================== -->
<div ng-include="'header.html'"></div>
<!-- Header End====================================================================== -->



<div id="mainBody">
  <div class="container">
  <div class="row">
<!-- Sidebar ================================================== -->
<h2>Shopping Card</h2>
<div ng-controller="mainController">
    <table class="table">
        <tr>
            
            <th>Description</th>
            <th>Qty</th>
            <th>Price</th>
            <th>Total</th>
            <th></th>
        </tr>
        <tr ng-repeat="item in addtocart">
            <td><input type="text" ng-model="item.description"class="input-small">{{mycart|json}}</td>           
            <td><input type="number" ng-model="item.qty" ng-required class="input-mini"></td>
            <td><input type="number" ng-model="item.cost" ng-required class="input-mini"></td>
            <td>{{mycart.item.qty * item.price | currency}}</td>
            <td>
                [<a href ng-click="removeItem($index)">X</a>]
            </td>
        </tr>
        <tr>
            
            <td></td>
            <td>Total:</td>
            <td>{{total() | currency}}</td>
        </tr>
    </table>
    <a href ng-click="addItem()" class="btn primary">Submit</a>
    <a href ng-click="addItem()" class="btn primary">Clear</a>
</div>
<!-- Main content=============================================== -->

<!-- Main content end=============================================== -->
<!-- Footer ================================================================== -->
  <div ng-include="'footer.html'"  style="bottom:0px;right:8em;position:absolute;"></div>
    
  
<!-- Placed at the end of the document so the pages load faster ============================================= -->
  <script src="bower_components/jquery/dist/jquery.js" type="text/javascript"></script>
  <script src="scripts/bootstrap.min.js" type="text/javascript"></script>
  <script src="scripts/google-code-prettify/prettify.js"></script>
  
  <script src="bower_components/angular/angular.min.js"></script>
     
  <script src="scripts/app.js"></script>
  <script src="scripts/services.js"></script>
  <script src="scripts/controllers.js"></script>
  <script src="scripts/directives.js"></script>
  <script src="scripts/slider.js"></script>
   
  
  <!--  switcher section ============================================================================================= -->
</div>
</body>
</html>