<div class="span12">		
			<h4>Latest Products </h4>
          <div class="thumbnails">

			<div ng-repeat="product in myProducts"
				class="span4">
				
				<span>
					<a  href={{product.link}}><img ng-src="{{product.picture}}"   alt=""/></a>
				<button type="button"
						class="btn btn-primary"
						ng-click="addToBasket(product)">Add to basket</button>

						<mark  ng-show="inCart()">
        This item is in your cart. <a ng-click="ngCart.removeItemById(id)" style="cursor: pointer;">Remove</a>
    </mark>
				</span>
                 <p>{{product.price}}</p>

                 <div counter value="quantity1" min="0"></div>

                 <div ng-hide="product._id">
    <a class="btn btn-lg btn-primary" ng-disabled="true" ng-transclude></a>

</div>
<!--
<div ng-show="product._id">
    <div>
        <span ng-show="quantityMax">
            <select name="quantity" id="quantity" ng-model="q"
                    ng-options=" v for v in qtyOpt"></select>
        </span>
        <a class="btn btn-sm btn-primary"
           ng-click="ngCart.addItem(id, name, price, q, data)"
           ng-transclude></a>
    </div>
    <mark  ng-show="inCart()">
        This item is in your cart. <a ng-click="ngCart.removeItemById(id)" style="cursor: pointer;">Remove</a>
    </mark>
</div> !-->
			
			  <h5 ng-click="productClick(product)">{{product.title}} </h5>
			  <p ng-click="productClick(product)"><strong>{{product._id}}</strong></p>
					  <p> 
						{{product.description}} 
					</p>
					
			</div>
		</div>
        </div>
		</div>
	</div>
</div>