<div class="span12">		
			<h4>Latest Products </h4>
          <div class="thumbnails">

			<div ng-repeat="product in myProducts"
				class="span4">
				
				<span>
					<a  href={{product.link}}><img ng-src="{{product.picture}}"   alt=""/></a>
				<button type="button"
						class="btn btn-primary"
						ng-click="addToBasket(product)">Add to basket</button>
				</span>
                 <p>{{product.price}}</p>
			
			  <h5 ng-click="productClick(product)">{{product.title}} </h5>
			  <p ng-click="productClick(product)"><strong>{{product._id}}</strong></p>
					  <p> 
						{{product.description}} 
					</p>
					
			</div>
		</div>
        </div>
		</div>
	</div>
</div>