<div id="sidebar" class="span3">
		<ul class="nav nav-tabs nav-stacked" >
			<li class="subMenu" ng-repeat="item in myCategories">
				<a ng-click="item.showSubCategories = !item.showSubCategories">{{item.category}}</a>
				
				<ul ng-show="item.showSubCategories" class="category-sub-menu">
				<li><a href="products.html"><i class="icon-chevron-right"></i>{{item.category.sub-category.name}} </a></li>
				</ul>
		</ul>	
		<br/>
			<div class="thumbnail">
				<img src="images/payment_methods.png" title="Bootshop Payment Methods" alt="Payments Methods">
				<div class="caption">
				  <h5>Payment Methods</h5>
				</div>
			  </div>
	</div>