  <table class="table span9">
        <tr>
            
            <th>Description</th>
            <th>Qty</th>
            <th>Price</th>
            <th>Total</th>
            <th></th>
        </tr>
        <tr ng-repeat="item in addtocart">
            <td><input type="text" ng-model="item.description"class="input-small">{{mycart|json}}</td>           
            <td><input type="number" ng-model="item.qty" ng-required class="input-mini"></td>
            <td><input type="number" ng-model="item.cost" ng-required class="input-mini"></td>
            <td>{{mycart.item.qty * item.price | currency}}</td>
            <td>
                [<a href ng-click="removeItem($index)">X</a>]
            </td>
        </tr>
        <tr>
            
            <td></td>
            <td>Total:</td>
            <td>{{total() | currency}}</td>
        </tr>
    </table>