  <table class="table span9">
        <tr>
            
            <th>Description</th>
            <th>Qty</th>
            <th>Price</th>
            
            <th></th>
        </tr>
        <tr ng-repeat="oder in mycart">
            <td>{{oder.title}}</td>           
            <td>{{oder.q}}</td>
            <td>{{oder.price}}</td>
            
            <td>
                [<a href ng-click="removeItem($index)">X</a>]
            </td>
        </tr>
        <tr>
            
            <td></td>
            <td>Total:</td>
            <td>{{cartTotal}}</td>
        </tr>
    </table>